body {
  background-image: url("https://us.123rf.com/450wm/yurygulakov/yurygulakov1709/yurygulakov170900004/85751093-ordinateur-portable-argent-moderne-sur-un-fond-noir-la-moiti%C3%A9-de-l-ordinateur-%C3%A0-l-ombre-.jpg?ver=6");
  background-size: cover;
  font-family: sans-serif;
  background-attachment: fixed;
}

/* Barre de navigation */
#logo.logoVG {
  margin: 20px;
}

.main-navbar {
  height: 64px;
  background-color: transparent;

  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.main-navbar .link-container {
  float: right;
  height: 64px;
  margin: 0px 20px;
  padding-left: 20px;
}

.main-navbar .link-container li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 7px 10px;
  font-size: 20px;
}

.main-navbar .link-container li a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #bea27a;
}

.main-navbar .link-container li:hover a {
  font-size: 25px;
}

/*logo linkedin*/

.linkedin {
  position: relative;
}

.cv {
  padding: 5px;
}

/*Titre et sous titre*/
header .header-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 170px;
  font-family: "Quicksand", sans-serif;
}

header .header-content h1 {
  text-align: center;
  color: #bea27a;
  font-size: 40px;
}

/* Titre projet */
#projets {
  margin-top: 400px;
  text-align: center;
  justify-content: center;
  display: block;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #bea27a;
  font-size: 5vw;
}

/******************************************/

/* Projet complet + titre */
#blog {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  background-color: transparent;
}

#blog .titreBlog {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #bea27a;
}
.billet {
  height: 100%;
  width: 50%;
  margin: 0px;
}

.billet a {
  text-decoration: none;
  color: #bea27a;
  padding: 5px;
  border: 2px solid #bea27a;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.billet a:hover {
  color: bisque;
}

.logo {
  padding-left: 40px;
  width: 300px;
  height: auto;
}

.logoApp {
  padding-left: 40px;
  width: 200px;
  height: auto;
}

.logoFramework {
  margin-left: 40px;
}

.logoFrameworkLast {
  margin-left: 40px;
}

.lien {
  margin-left: 40px;
}

.lienApp {
  margin-left: 40px;
}

/* Contact */
#contact {
  margin-top: 150px;
  margin-left: 30px;
  background-color: transparent;
  padding: 20px 30px;
}

#contact .section-title {
  color: #bea27a;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#contact .contact-form {
  margin: auto;
  width: 50vw;
}

#contact .contact-form label {
  color: #bea27a;
  font-family: "Quicksand", sans-serif;
}

#contact .contact-form .text-input-label {
  display: block;
  margin-bottom: 10px;
}

#contact .contact-form input[type="text"],
#contact .contact-form input[type="email"],
#contact .contact-form textarea {
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #bea27a;
  color: #bea27a;
}

#contact .contact-form .submit-button {
  width: 100px;
  margin: 15px auto;
  display: block;
  color: #bea27a;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: transparent;
  color: #bea27a;
  font-family: "Quicksand", sans-serif;
}

#contact .contact-form .submit-button:hover {
  background-color: white;
  color: #bea27a;
  cursor: pointer;
}

/* Pied de page */
footer {
  background: #ccc;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #bea27a;
  color: white;
  padding-top: 5px;
}

.block1 {
  float: left;
  text-align: center;
  justify-content: center;
  padding-left: 45vw;
}

.block2 {
  text-align: center;
  justify-content: center;
}
